@tailwind base;
@tailwind components;
@tailwind utilities;

.site-logo {
  width: 240px;
  display: flex;
  align-items: center;
}
.site-logo h1 {
  display: none;
}

.site-logo div {
  width: 100%;
}
.site-logo .logo-since {
  margin: auto;
  margin-bottom: 4px;
  width: 35%;
}
.site-logo .logo-main {
  margin: auto;
  width: 100%;
  display: block;
}

.site-logo .cls-1 {
  fill: black;
}
.site-logo .cls-2 {
  fill: black;
}

@media all and (max-width: 767px) {
  .site-logo {
    max-width: 160px;
    width: 160px;
  }
}

.floating,
.floating2,
.floating3 {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.floating2 {
  animation-duration: 4s;
}
.floating2 {
  animation-duration: 2s;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 30px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.wiggle,
.wiggle2,
.wiggle3,
.hover-wiggle:hover {
  animation-name: wiggle;
  animation-duration: 0.75s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.wiggle2 {
  animation-duration: 1s;
}
.wiggle3 {
  animation-duration: 1.25s;
}

@keyframes wiggle {
  0% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}
